/*
Newism CSS Framework for EE extensions. Last updated : 200907301509
*/
#donate{
	float:right;
	height:27px;
	margin-top:0;
	position:relative;
	top:-4px
}
#donate .button{
	background:transparent url('http://leevigraham.com/themes/site_themes/default/img/btn_paypal-donation.png') no-repeat scroll left bottom;
	display:block;
	height:0;
	overflow:hidden;
	padding-top:27px;
	text-decoration:none;
	width:175px
}

/*  restyle the box class */
.box{margin-top:0;}
.box p{margin:9px 0;}
.box :first-child{margin-top:0;}
.box :last-child{margin-bottom:0;}

/* Tab styles */
.nsm-tab-block{background:#E4EAF1; border:1px solid #C5CFDA; border-top:0; font-size:11px; margin:0; padding:14px 14px 0 14px; zoom:1;}
.nsm-tab-block div.nsm-tab-block-content{background:#fff; border:1px solid #C5CFDA; margin-bottom:14px; padding:10px; position:relative;}
.nsm-tab-block h5{border-bottom:1px solid #AFBBCF; font-size:14px; margin-bottom:9px; margin-top:36px; padding-bottom:9px; padding-left:9px;}
.nsm-tab-block h5:first-child{margin-top:3px;}
.nsm-tab-block .box{padding:9px;}
.nsm-tab-block p{margin:18px 0;}
.nsm-tab-block .highlight,
.nsm-tab-block .success{font-size:inherit;}
.nsm-tab-block .box {height:auto; line-height:normal; margin-bottom:9px;}
.nsm-tab-block .submitBox{margin:9px 0; padding:9px; text-align:center;}

/* Table stlyles */
table.nsm {border:none; border-collapse:collapse; font-size:11px; margin-top:18px; width:100%;}
.box + table.nsm{margin-top:0;}
table.nsm-data,
#settings-form table.nsm{border:1px solid #B1B6D2;}

/* Table rows */
table.nsm tr{border-top:1px dotted #B1B6D2;}
table.nsm tr.tableHeading, table.nsm tr.tableHeadingAlt{background-image:none; border:none; }
table.nsm tr.tableHeading{background-image:-webkit-gradient(linear, left top, left bottom, from(#768E9D), to(#6D8391)); text-shadow: 0px -1px 0px rgba(0,0,0,.25); font-size:12px;}
table.nsm tr.tableHeadingAlt{background-image:-webkit-gradient(linear, left top, left bottom, from(#C4D3DB), to(#B8C6CE)); border-top:1px solid #B1B6D2;}
table.nsm tr.box{border-width:0; border-bottom-style:none; border-bottom-color:transparent;}
table.nsm tr.alt{background:#f4f6f9;}
table.nsm tr.highlight{color:#990000; font-weight:bold;}

/* Table cells */
table.nsm th,
table.nsm td{border:none; padding:9px; text-align:left;}

/* Table headings */
table.nsm th.state{width:16px;}
table.nsm th.id{width:30px;}
table.nsm th.date{width:130px;}
table.nsm th.delete{width:16px;}
table.nsm th.note{width:16px;}
table.nsm th.reload{width:16px;}
table.nsm th.author{width:150px;}
table.nsm div.note,
table.nsm span.note,
table.nsm p.note{color:#666; display:block; font-size:10px; font-weight:normal; margin-top:5px;}

table.nsm tbody th{color:#666; width:300px;}
table.nsm tr.tableHeadingAlt th{color:#0C1216; width:auto;}
table.nsm td.sub-heading{font-size:10px; width:150px;}

table.nsm label.checkbox{display:block; padding-left:20px; margin:9px 0; position:relative;}
table.nsm label.checkbox:first-child{margin-top:0;}
table.nsm label.checkbox:last-child{margin-bottom:0;}
table.nsm label.checkbox input{margin:0; padding:0; position:absolute; top:-2px; left:0;}

table.nsm select[multiple]{width:95%; height:auto;}
table.nsm input[type=text],
table.nsm textarea{font-size:11px; width:97%;}

/* Data table */
table.nsm-data tr th:first-child,
table.nsm-data tr td:first-child{border-left:none;}
table.nsm-data thead th{border-left:1px dotted #5f737f;}
table.nsm-data tbody td{border-left:1px dotted #B1B6D2;}

/* Icons */
a.icon,
a.delete,
a.sticky-note--pencil,
a.reload{background:no-repeat center center; display:block; width:18px; height:0 !important; margin:0 !important; overflow:hidden; padding-top:18px;}
a.delete{background-image: url('../../../../cp_global_images/delete.png');}
a.sticky-note--pencil{background-image: url('../../../../cp_global_images/sticky-note--pencil.png');}
a.reload{background-image: url('../../../../cp_global_images/document-convert.png');}

/* Orbs */
.work-state{background-image:url('../../../../cp_global_images/orb_grey.png'); background-repeat:no-repeat; background-position:0 0; display:block; height:0; margin:0; overflow:hidden; padding:16px 0 0 0; width:16px; cursor: help;}
.work-state-approved{background-image:url('../../../../cp_global_images/orb_green.png');}
.work-state-pending{background-image:url('../../../../cp_global_images/orb_orange.png');}
.work-state-denied{background-image:url('../../../../cp_global_images/orb_red.png');}
.work-state-unassigned{background-image:url('../../../../cp_global_images/orb_grey.png');}
.work-state-changed{background-image:url('../../../../cp_global_images/orb_dark_grey.png');}

/* Alerts */
ol.alert{border:1px solid #c6cde2; background:#f9f9fb; color:#333; font-size:11px; list-style-type:none; margin:0 0 9px 0; padding:0; zoom:1;}
ol.alert-note{background-color:#fffee3; border-color:#dedb97;}
ol.alert-success{background:#f7fef0; border-color:#bdd5a5; color:#009933;}
ol.alert-error{background:#fff3f7; border-color:#f0c8c8; color:#980001;}
ol.alert li{font-weight:normal; margin:9px;}
ol.alert-error li{color:#980001; font-weight:normal;}

.g3 li{float:left; width:33%;}
.g4 li{float:left; width:25%;}

.submitBoxAlt{margin-top:9px; text-align:left;}