#blockllp .btn{float:right; margin-left:18px; padding-left:18px;}
.mor p.top{position:absolute; top:13px; right:9px; margin:0; width:300px;}
.iframe-wrap{border:1px solid #C5CFDA; margin:0 0 9px 0;}
iframe{background:#fff; border:none; padding:0; margin:0; width:100%;}